@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gentium Book Basic", Arial, sans-serif;
  font-size: 22px;
}

body {
  background-color: #f4f4f9;
}

.container {
  width: 80%;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.container-nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.container-nav-footer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem;
  margin: 0 auto;
}

.section-container {
  width: 100%;
  padding: 1rem;
}

.section-container h2 {
  margin-bottom: 0.5rem;
}

.section-container h3,
.section-container .input-loader {
  margin-bottom: 1rem;
}

.half-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.input-container .btn-action {
  padding: 0.5rem 1rem;
  background-color: #08a4bd;
  border-radius: 10px;
  color: #f4f4f9;
  border: none;
  width: 150px;
}

.input-container .btn-action:hover {
  background-color: #07899d;
}

.input-container .btn-action:disabled {
  background-color: #055561;
}

.save-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.navbar {
  background-color: #47597E;
}

.navbar .logo {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.navbar h1 {
  color: #f4f4f9;
  font-size: 36px;
}

.important-note {
  background-color: #e2decc;
  width: 45%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.btn-restart {
  padding: 0.5rem 1rem;
  background-color: #08a4bd;
  border-radius: 10px;
  color: #f4f4f9;
  border: none;
  width: 150px;
  margin-top: 1rem;
  margin-left: 15%;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-restart:hover {
  background-color: #07899d;
}

.btn-restart:disabled {
  background-color: #055561;
}

.btn-save {
  padding: 0.5rem 1rem;
  background-color: #08a4bd;
  border-radius: 10px;
  color: #f4f4f9;
  border: none;
  width: 150px;
  margin-top: 1rem;
  width: 25%;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-save:hover {
  background-color: #07899d;
}

.btn-save:disabled {
  background-color: #055561;
}

.btn-save:hover {
  background-color: #07899d;
}

.btn-upload {
  padding: 0.5rem 1rem;
  background-color: #08a4bd;
  border-radius: 10px;
  color: #f4f4f9;
  border: none;
  width: 150px;
  width: 25%;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-upload:hover {
  background-color: #07899d;
}

.btn-upload:disabled {
  background-color: #055561;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #47597E;
}

footer h4 {
  color: #f4f4f9;
}
/*# sourceMappingURL=estilos.css.map */